body {
    width: 600px;
}

#container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    
}

#slides-main {

    display: flex;
    justify-content: center;
    align-items: center;

}

body {

    background-color:rgba(0, 92, 113, 0.6)
}

#drop {
    margin-top: 5px;
    margin-right: auto;
    position: relative;
    display: inline-block;

}

#dropdownmenu {
    border: 2px solid rgb(81, 81, 81);
    padding: 5px;
    border-radius: 3px;


}

#dropdownmenu:hover {
    padding: 5px;
    border-radius: 3px;
    background-color: darkcyan;
}

/* #drop:hover {
    background-color: darkcyan;
    padding: 2px;
} */

#drop:hover > #dropdown-content{

    display: flex;
    border: 2px solid rgb(81, 81, 81);
    padding: 5px;
    background-color: darkcyan;
    flex-direction: column;
    justify-content: flex-start;
    
}

#dropdown-content {

    position: absolute;
    display: none;
    margin-top: 5px;
    justify-content: flex-start;
}

#dropdown-content:hover #dropdownmenu{
    border-radius: 3px;
    background-color: darkcyan;
}
#dropdown-content2 {
    display: flex;
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 7px;
    margin-left: 73px;
}


.subMenu {
    display: block;
    visibility: hidden;
    position: relative;
    padding: 3px;
    padding-top:3px;
    border: 2px solid rgb(81, 81, 81);
}

.subMenu:active {
    visibility: hidden;
    
}

.subMenu:hover {
    
    padding: 3px;
    padding-top:3px;
    background-color: darkcyan;
    cursor: pointer;
    
}

.dropMenu { 
    padding: 3px;
    display:flex;
}

.dropMenu:hover {
    padding: 3px;
    background-color: #669da9;
    cursor: pointer;
    
}


.dropMenu:hover #dropdownmenu{
    background-color: darkcyan;
    padding: 5px;
    border-radius: 3px;
}

#slides {
    display: block;
}

#arrowRight {
    height: 25px;
    width: 25px;
    background-image: url(up-arrow-svgrepo-com.svg);
    /* transform: scale(1); */
    transform: rotate(90deg);
    border: 0px;
    background-color: #669da9;
    margin-left: 7px;
    cursor: pointer;
    
}

#arrowRight:hover {
    border: black;
    transform: scale(1.1) rotate(90deg);
}
#arrowLeft:hover {
    border: black;
    transform: scale(1.1) rotate(270deg);
}

#arrowLeft {
    height: 25px;
    width: 25px;
    background-image: url(up-arrow-svgrepo-com.svg);
    /* transform: scale(1); */
    transform: rotate(270deg);
    border: 0px;
    background-color: #669da9;
    margin-right: 7px;
    cursor: pointer;
}


.images{
    visibility: visible;
    opacity: 100%;
    animation-duration: 0.5s;
    animation-name: slidein;
    border: 2px solid white;
}

@keyframes slidein {

    from {
    margin-left: -3%;
    }

    to {
    margin-left: 0%;
    }
}